export(annotate.dataframe)
export(rtematres)
export(rtematres.api)
export(rtematres.api.define)
export(rtematres.api.search)
export(rtematres.options)
import(RCurl)
import(XML)
import(gdata)
import(plyr)
